.container {
    display: flex;

    max-width: 100%;
    margin-top: 60px;
    padding: 0 12px 0 12px;
}
.content {
    margin-left: 224px;
    flex: 1;
    padding: 32px 26px;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.info {
    max-width: 624px;
    padding-right: 92px;
}
.info-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image-user {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    object-fit: cover;
}
.name {
    margin-left: 20px;
}
.name-user {
    font-size: 32px;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: 700;
}
.nickname {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-overflow: ellipsis;
    height: 25px;
    max-width: 450px;
    white-space: nowrap;
    transform: translateY(-8px);
}
.follow-btn {
    transform: translateY(7px);
}
.btn-follow {
    width: 100%;
}
.numbers {
    display: flex;
    align-items: center;
    margin-top: 28px;
}
.Following {
    margin-right: 20px;
}
strong {
    font-size: 1.8rem;
}
.title {
    color: rgba(22, 24, 35, 0.75);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    margin-left: 6px;
}
.user-bio {
    text-align: left;
    color: rgba(22, 24, 35, 1);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    white-space: pre-line;
    margin-top: 10px;
}

.video {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.video-header {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 460px;
    height: 44px;
    margin-bottom: 8px;
}
.videos {
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    height: 44px;
    cursor: pointer;
    text-align: center;
    color: rgba(22, 24, 35, 1);
}
