.login-sidebar {
    padding: 4px;

    position: relative;
}

.login-watch {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}
.button-login-sidebar {
    max-width: 100%;
    width: 100%;
    font-size: 1.8rem;
    margin: 20px 0;
    height: 48px;
}
